{% extends "templates/base.twig" %}

{% block includes %}
    <script src="/assets/scripts/home.js"></script>
{% endblock %}
{% block body %}
    <div id="div_upload">
        <div id="up_msg"></div>
        <form action="" method="post" enctype="multipart/form-data">
            Select image to upload:
            <input type="file" name="imgupload" id="imgupload">
            <input type="text" name="caption" id="caption">
            <input type="button" id="upload-button" value="Upload" >
        </form>
    </div>
    {% for post in posts %}
        <h2>{{post.username}}</h2>
        <p>{{post.created}}</p>
        <p>{{post.caption}}</p>
        <img src="/{{post.addr}}">
        <div id="div_comm_{{post.id}}"></div>
        <input type="button" id="butt-{{post.id}}" value="Like:{{post.likes}}" onclick = "likePosts({{post.id}})">
        <a href="/post/{{post.id}}">Comments</a>
        <input type="text" id="comm-{{post.id}}" placeholder="Comment">
        <input type="button" id="comm-butt-{{post.id}}" value="submit" onclick="addComment({{post.id}})">
    {% endfor %}
{% endblock %}  